<div class="row">
  <div class="col-md-10">
    <%= render 'layouts/messages' %>
  </div>
</div>
<% if @friends %>
  <div class="card card-header results-block">
  <ul class="results-block">
      <% @friends.each do |friend| %>
        <li class="mt-4">
          <strong>Name: </strong> <%= friend.full_name %>
          <strong>Email: </strong> <%= friend.email %>
          <strong>Tracking </strong> <%= friend.stocks.count %> stocks  
          
            <div class='float-right'>
              <%= link_to 'Profile', user_path(friend),
                                      class: "btn btn-sm btn-success", method: :get %>
            <% if current_user.not_friend_with?(friend.id) %>
              <%= link_to 'Follow friend?', friendships_path(friend: friend),
                                      class: "btn btn-sm btn-success", method: :post %>
            <% else %>
              <span class="badge badge-danger">Already Friends</span>
            <% end %>
            </div>
          
          
        </li>
        <% end %>
    </ul>
  </div>
<% end %> 